h1 {
  text-align: center;
}

.square {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  font-size: 10rem;
  text-align: center;
}

.board-game {
  display: flex;
  flex-wrap: wrap;
  width: 610px;
  margin: 0 auto;
}

.button-section {
  text-align: center;
}

.reset-button {
  padding: 10px;
  border-radius: 10px;
  margin: 15px;
  font-size: 2rem;
}
